footer {
    text-align: center;
    background-color: rgb(23, 26, 33);
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    bottom: 0;
    width: 100%;  
    position: fixed;
}
